  * {
     margin: 0;
     padding: 0;
  }
  .box {
   color: white;
   font-size: 20px;
   padding: 0 125px;
   background-color: orange;
   border: 3px solid grey;
   border-radius: 10px;
    }
   .box img {
    height: 50px;
    width: auto;
    vertical-align: middle;
    border: 1px solid grey;
    border-radius: 50px;
    }
   a {
    text-decoration: none;
    color: black;
    }
   .boxs {
    margin-top: 10px;
    font-size: 20px;
    text-align: left;
    background-color: white;
    border: 3px solid grey;
    display: flex;
    border-radius: 10px;
    box-shadow: 2px 2px 5px grey;
   }
    